<div class="row">
  <div class="large-12 columns"><h1>Archive ID <%= @archive.id %></div>
  <div class="large-12 columns">
    <div class="panel">

    <% @archive.chats.reverse.each do |chat| %>
        <%= partial :'partials/chat_message', :locals => { :chat => chat } %>
    <% end %>

    </div>

    <div class ="archive_notes">
    <%@archive.notes.reverse.each do |note| %>
      <li>
        <%= partial :'partials/notes', :locals => { :note => note } %>
        <%= partial :'partials/note_edit', :locals => { :note => note, :hidden => true } %>
      </li>
    <% end %>
    </div>

    <%= partial :'partials/note_new', :archive => @archive %>
    <%= partial :'partials/link_to_archives' %>
    <%= partial :'partials/link_home' %>
  </div>
</div>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>