<head>
<style>
.data {
    background-color: blue;
}
</style>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1> <%= @messages_data.count %> chats have been saved</h1>

<% @messages_data.count.times do |x| %>

    <div class="data"><%= message_content = @messages_data[x] %></div>

    <p><%= message_content["user"]%></p>
    <p><%= message_content["text"]%></p>

  </br>
<% end %>

<div id="hidden_form">
<h5> will be hidden form</h5>
<form action="/archive" method="post">
<% @messages_data.count.times do |x| %>

    <div class="data"><%= message_content = @messages_data[x] %></div>

    <p><%= message_content["user"]%></p>
    <p><%= message_content["text"]%></p>

  </br>
<% end %>
  </form>
</div>

<script>
  $( ".data" ).remove();
</script>
</body>