<p>Definitely Authenticated</p>
<p>client_id: <%= @git_hub_client_id %></p>
<p>client secret: <%= @git_hub_client_secret %></p>
<p>code: <%= @code %></p>
<p>State: <%= @state %></p>
<p>Token: <%= @token %></p>
<p>User info: <%= @user %></p>